.idea/
.DS_Store

set_env.py
setup_experiments_files_old.py
llm_planning/create_sh_script_few_shot.py
llm_planning/run_few_shot_creation.sh
llm_planning/translate_planbench_output.py
planbench_processing/check_plans.py
pddl_processing/rewrite_descriptions.py
pddl_processing/naming_manipulations
autoplanbench.egg-info
batching
llm_caches
generate_sh_scripts
explorative_analysis
output_files
temp_files
run_input_counting.py
run_name_manipulation.py
pddl_processing/planner_logs